/* RESETEO */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* -- Fuentes -- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
}

button,
nav,
a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
}


/*-- BODY --*/

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Hace que el body ocupe toda la pantalla */
    overflow-x: hidden;
    /* Evita desbordamientos horizontales */
}

/*-- ENCABEZADO --*/

header {
    z-index: 9999;
    /* queda por encima de los demas elementos fijados*/
    position: sticky;
    top: 0;
    /*fija el header*/
    width: 100%;
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    /* Línea debajo del header */
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten cuando la ventana se achica */
    justify-content: space-between;
    align-items: center;
}

/*Estilo para el logo */
header img {
    width: 100px;
    /* Fija el tamaño del logo */
    height: auto;
    /* Mantiene la proporción de la imagen */
}


.desktop-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.desktop-navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    /* Permite que el menú ocupe el espacio restante */
}

.desktop-navbar ul li {
    margin: 0 15px;
}

.mobile-navbar {
    display: none;
    /* Oculta la mobile-navbar en dispositivos grandes */
}

.nav-link {
    color: dimgrey;
}

.nav-link.active {
    color: #000000;
}

.nav-link:hover {
    color: #448ff2;
    /* Cambia el color al pasar el mouse */
}


/*-- MAIN --*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos verticalmente */
    width: 100%;
    flex: 1;
    /* Hace que el contenido principal crezca y empuje el footer */
}




/*-- FOOTER __*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: space-between;
    /* Separa los elementos */
    background-color: #d9d9d9;
    padding: 15px 0;
    width: 100%;
    /* Asegura que el footer ocupe todo el ancho */
    margin-top: auto;
    /* Empuja el footer hacia abajo si el contenido principal crece */
    border-top: 1px solid grey;
    /* Línea debajo del header */

}

.contenedor-de-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: space-between;
    /* Separa los elementos */
    width: 100%;
    /* O ajusta según sea necesario */
    margin: 0 auto;
    /* Para centrar si es necesario */
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten cuando la ventana se achica */
}

/*ajuste para el logo*/
.logo-footer {
    display: flex;
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: center;
    /* Separa los elementos */
    width: 100%;
    margin: 0 auto;
    flex: 1;
    text-align: center;
}

.logo-footer img {
    width: 300px;
    /* Ajusta el tamaño */
    height: auto;
    /* Mantiene la proporción */
}

.redes-sociales-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: space-between;
    /* Separa los elementos */
    width: 100%;
    margin: 0 auto;
    flex: 1;
    text-align: center;
}

.iconos-redes-sociales-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: space-between;
    /* Separa los elementos */
    width: 30%;
    margin: 0 auto;

}

.contacto-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: space-between;
    /* Separa los elementos */
    width: 100%;
    margin: 0 auto;
    flex: 1;
    text-align: center;
}

.contenedor-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: space-between;
    /* Separa los elementos */
    width: 100%;
    margin: 0 auto;
}

.contenedor-contacto img,
.iconos-redes-sociales-footer img {
    width: 32px;
    height: 32px;
}

/* Ajuste para el copyright */
.copyright-footer {
    width: 100%;
    /* Ocupa todo el ancho */
    text-align: center;
}



/*--  INICIO --*/

/*banner de página de inicio*/
.contenedor-video-banner-inicio {
    display: flex;
    justify-content: center;
    /* Centra el video horizontalmente */
    align-items: center;
    width: 100%;
    border-bottom: 1px solid grey;
}

.video-banner-inicio {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*Inicio - sección servicio*/
h1 a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.servicios-inicio {
    padding: 35px;
}

.servicios-inicio img {
    width: 200px;
    height: auto;
}


/* -- NOSOTROS -- */

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 35px;
}




/* -- SERVICIOS -- */

.servicios {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 35px;
}

.servicios img {
    width: 200px;
    height: auto;
}



/* -- NOTICIAS -- */
.noticias {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 35px;
}


/* -- CONTACTO --*/

.contenedor-contacto-googlemaps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Distribución flexible */
    gap: 20px;
    /* Espaciado entre columnas */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px;
}

/* Estilos del formulario */
.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 500px;
    /* Para que no se haga demasiado grande */
    height: auto;
    margin: 15px;
}

/* Estilos de Google Maps */
.googlemaps {
    width: 100%;
    /* Ocupar todo el ancho disponible */
    height: 450px;
    /* Altura fija */
    border-radius: 10px;
    /* Bordes redondeados */
    border: 2px solid #448ff2;
    /* Borde azul */
    box-shadow: 5px 5px 15px gray;
    /* Sombra */
}


/*Estilos de rrelleno del formulario*/






/* Escritorio (< 768px) */
@media (max-width: 768px) {
    .mobile-navbar {
        display: flex;
    }

    .desktop-navbar {
        display: none;
    }

    body {
        font-size: 14px;
    }

    h1,
    h1 a {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    nav,
    a,
    button {
        font-size: 14px;
    }

    header,
    header * {
        background-color: #ffffff !important;
    }

    header img {
        width: 75px;
        height: auto;
    }

    .servicios-inicio img,
    .servicios img {
        width: 120px;
        height: auto;
    }

    .logo-footer img {
        width: 150px;
        height: auto;
    }

    .contenedor-contacto-googlemaps {
        grid-template-columns: 1fr;
        /* Solo una columna en móviles */
        gap: 10px;
    }

    .formulario-contacto {
        width: 100%;
    }

    .googlemaps {
        height: 350px;
    }
}

/* Escritorio (≥ 768px) */
@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    h1,
    h1 a {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    nav,
    a,
    button {
        font-size: 16px;
    }

    header img {
        width: 85px;
        height: auto;
    }

    .servicios-inicio img,
    .servicios img {
        width: 150px;
        height: auto;
    }

    .logo-footer img {
        width: 200px;
        height: auto;
    }

}

/* Escritorio (≥ 1024px) */
@media (min-width: 1024px) {

    body {
        font-size: 18px;
    }

    h1,
    h1 a {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    nav,
    a,
    button {
        font-size: 18px;
    }

    header img {
        width: 95px;
        height: auto;
    }

    .servicios-inicio img,
    .servicios img {
        width: 200px;
        height: auto;
    }

    .logo-footer img {
        width: 250px;
        height: auto;
    }
}