@charset "UTF-8";
/*compilar: sass --watch scss/style.scss css/style.css*/
/*-- RESET GENERAL  --*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*-- FUENTES  --*/
/*-- VARIABLES DE FUENTES Y COLORES--*/
/*--  MIXINS  --*/
/*--  EXTEND ESTILOS --*/
h1 a, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-weight: 700;
}

h1 {
  padding-bottom: 20px;
}

/*--  BUCLE PARA TAMAÑO DE ENCABEZADOS  --*/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/*--  ESTILOS GENERALES  --*/
body {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
}

button,
nav,
a {
  font-family: "Inter", sans-serif, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*-- ENCABEZADO --*/
header {
  z-index: 9999;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 100px;
  height: auto;
  padding-left: 10px;
}

/*--  ENCABEZADO: navbar  --*/
.desktop-navbar {
  display: flex;
  align-items: center;
  width: 100%;
}
.desktop-navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.desktop-navbar ul li {
  margin: 0 20px;
}

.mobile-navbar {
  display: none;
}

.nav-link {
  color: dimgrey;
}
.nav-link.active {
  color: #000000;
}
.nav-link:hover {
  color: #448ff2;
}

/*--  MAIN  --*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  margin-top: 80px;
}

.sticky-whatsapp {
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 30px;
  z-index: 10;
}
.sticky-whatsapp a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.sticky-whatsapp a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sticky-whatsapp a:hover {
  transform: scale(1.1) rotate(10deg);
}

/*-- FOOTER  --*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d9;
  padding: 15px 0;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid grey;
}
footer a {
  text-decoration: none;
  color: #000000;
}

.contenedor-de-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  text-align: center;
}
.logo-footer img {
  width: 300px;
  height: auto;
}

.redes-sociales-footer,
.contacto-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  flex: 1;
  text-align: center;
}

.iconos-redes-sociales-footer,
.contenedor-contacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.iconos-redes-sociales-footer img,
.contenedor-contacto img {
  width: 40px;
  height: auto;
  margin: 5px;
  transition: transform 0.4s ease;
}

.icono-red-social,
.icono-contacto img {
  transition: all 0.3s ease-in-out;
}

.icono-contacto.whatsapp:hover img {
  content: url("../assets/img/whatsapp.png");
}

.icono-contacto.correo:hover img {
  content: url("../assets/img/mail.png");
}

.icono-red-social.facebook:hover img {
  content: url("../assets/img/facebook.png");
}

.icono-red-social.twitter:hover img {
  content: url("../assets/img/twitter.png");
}

.icono-red-social.instagram:hover img {
  content: url("../assets/img/instagram.png");
}

.icono-red-social.linkedin:hover img {
  content: url("../assets/img/linkedin.png");
}

.iconos-redes-sociales-footer img:hover {
  transform: rotate(360deg);
}

.contenedor-contacto img:hover {
  transform: rotate(360deg);
}

.copyrigh-footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/*--  INICIO  --*/
.contenedor-video-banner-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid grey;
}

.video-banner-inicio {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*--  INICIO: Servicio  --*/
h1 a {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}

.servicios-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}
.servicios-inicio img {
  width: 200px;
  height: auto;
  margin: 30px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-body {
  width: 100%;
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.card {
  width: 100%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #448ff2;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: #ffffff;
  color: #448ff2;
}

/*--  INICIO: Clientes --*/
hr {
  width: 100%;
  border: 1px solid grey;
  margin: 20px 0px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 80px;
}
.carousel h2 {
  margin-bottom: 30px;
}

.carousel-inner img {
  max-height: 100px;
  transition: transform 0.5s ease-in-out;
  filter: grayscale(100%);
}

.carousel-inner img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

/*--  NOSOTROS  --*/
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}
.nosotros div {
  align-items: left;
}

/*--  SERVICIOS  --*/
.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

.servicios img {
  width: 200px;
  height: auto;
  margin: 20px;
}

/*--  NOTICIAS  --*/
.noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

/*--  CONTACTO  --*/
.contenedor-contacto-googlemaps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 80px;
}

/* Estilos de formulario */
.custom-fieldset {
  height: 100%;
  border: 2px solid #448ff2;
  padding: 15px;
  border-radius: 10px;
}

.custom-fieldset legend {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding: 0;
}

/* Estilos de Google Maps */
.googlemaps {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #448ff2;
}

/*--  MEDIA QUERIES  --*/
@media (max-width: 1024px) {
  body,
  button,
  nav,
  a {
    font-size: 18px;
  }
  h1,
  h1 a {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  header {
    height: 70px;
  }
  main {
    margin-top: 70px;
  }
  header img {
    width: 95px;
    height: auto;
  }
  .bg-body-tertiary {
    background-color: #ffffff !important;
  }
  .servicios-inicio img,
  .servicios img {
    width: 180px;
    height: auto;
  }
  .logo-footer img {
    width: 225px;
    height: auto;
  }
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: flex;
  }
  .offcanvas {
    width: 300px !important;
  }
  .contenedor-contacto-googlemaps {
    grid-template-columns: 1fr;
  }
  .googlemaps {
    height: 400px;
  }
  .servicios-inicio,
  .servicios,
  .contenedor-contacto-googlemaps,
  .nosotros,
  .noticias {
    padding: 10px 50px;
  }
}
@media (max-width: 768px) {
  body,
  button,
  nav,
  a {
    font-size: 14px;
  }
  h1,
  h1 a {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  header {
    height: 64px;
  }
  main {
    margin-top: 64px;
  }
  header img {
    width: 75px;
    height: auto;
  }
  .bg-body-tertiary {
    background-color: #ffffff !important;
  }
  .offcanvas {
    width: 250px !important;
  }
  .servicios-inicio img,
  .servicios img {
    width: 120px;
    height: auto;
  }
  .logo-footer img {
    width: 150px;
    height: auto;
  }
  .contenedor-contacto-googlemaps {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .formulario-contacto {
    width: 100%;
  }
  .googlemaps {
    height: 350px;
  }
  .contenedor-de-footer {
    flex-direction: column;
    align-items: center;
  }
  .logo-footer img {
    width: 200px;
    height: auto;
  }
  .contacto-footer {
    text-align: center;
  }
  .sticky-whatsapp a {
    width: 50px;
    height: 50px;
  }
  .servicios-inicio,
  .servicios,
  .contenedor-contacto-googlemaps,
  .nosotros,
  .noticias {
    padding: 5px 30px;
  }
  .carousel {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
  }
  .carousel h2 {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
  .carousel-inner img {
    max-height: 40px;
    width: auto;
    margin: 0 10px;
  }
  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    padding-bottom: 10px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .bg-body-tertiary {
    background-color: #ffffff !important;
  }
  header {
    height: 64px;
  }
  main {
    margin-top: 64px;
  }
  .iconos-redes-sociales-footer {
    width: 50%;
  }
  .iconos-redes-sociales-footer img,
  .contenedor-contacto img {
    width: 24px;
    height: auto;
  }
  .formulario-contacto {
    width: 90%;
  }
  .googlemaps {
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
