<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Ponte en contacto con Gestión SySO para consultas sobre nuestros servicios de higiene y seguridad en el trabajo. Teléfonos: 1159969956. Email: info@gestionsyso.com">
    <meta name="keywords"
        content="contacto Gestión SySO, consultas seguridad laboral, información de contacto, higiene y seguridad en el trabajo">
    <title>Gestión SySO - Contacto</title>
    <link rel="icon" type="image/png" href="../assets/img/helmet.png">

    <!--CSS boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css"><!--enlace con css-->
</head>

<body>

    <header class="fixed-top"><!--encabezado-->
        <!--encabezado desktop-->
        <nav class="navbar desktop-navbar fixed-top">
            <a href="../index.html" title="Gestión SySO">
                <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
            </a>
            <ul class="nav nav-underline justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./nosotros.html">Nosotros</a>
                </li><!--enlace relativo (entre páginas dentro del mismo proyecto)-->
                <li class="nav-item">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./noticias.html">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                </li>
            </ul>
        </nav>

        <!--encabezado mobile-->
        <nav class="navbar bg-body-tertiary fixed-top mobile-navbar">
            <div class="container-fluid">
                <a href="../index.html" title="Gestión SySO">
                    <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav nav-underline justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./servicios.html">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./noticias.html">Noticias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  active" aria-current="page" href="#">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main><!--contenido principal de la página-->

        <section class="contenedor-contacto-googlemaps">
            <form action="/submit" method="post">
                <fieldset class="custom-fieldset">
                    <legend>Envianos tu consulta</legend>

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre y apellido:</label>
                        <input type="text" name="Nombre-y-apellido" id="nombre-y-apellido" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje:</label>
                        <textarea name="mensaje" id="mensaje" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </fieldset>
            </form>

            <div class="contenedor-googlemaps">
                <iframe class="googlemaps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.523521419675!2d-58.374754688148336!3d-34.666734372818865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd117a817ac7%3A0xe96eaf98ef0c5ca!2sGesti%C3%B3n%20SySO!5e0!3m2!1ses!2sar!4v1738023741121!5m2!1ses!2sar"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">>
                </iframe>
            </div>
        </section>
        <div class="sticky-whatsapp">
            <a href="https://wa.me/5491159969956" target="_blank" class="btn-whatsapp" aria-label="Enviar WhatsApp">
                <img src="../assets/img/whatsapp-logo.png" alt="WhatsApp">
            </a>
        </div>
    </main>

    <footer><!--pie de página-->
        <div class="contenedor-de-footer">
            <div class="logo-footer">
                <a href="../index.html" title="Gestión SySO">
                    <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
                </a>
            </div>

            <div class="contacto-footer">
                <h4>Contacto</h4>
                <!-- Enlace con la imagen al contacto -->
                <div class="contenedor-contacto">
                    <div class="whatsapp-footer">
                        <a href="https://api.whatsapp.com/send?phone=541159969956" class="icono-contacto whatsapp"
                            target="_blank" title="Enviar Whatsapp">
                            <img src="../assets/img/whatsapp-black.png" alt="Icono de Whatsapp">
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=541159969956">1159969956</a>
                    </div>

                    <div class="cooreo-footer">
                        <a href="mailto:info@gestionsyso.com" class="icono-contacto correo" target="_blank"
                            title="Enviar correo electrónico">
                            <img src="../assets/img/mail-black.png" alt="Icono de correo electrónico">
                        </a>
                        <a href="mailto:info@gestionsyso.com">info@gestionsyso.com</a>
                    </div>
                </div>
            </div>

            <div class="redes-sociales-footer">
                <h4>Visítanos en nuestras redes sociales</h4>
                <!-- Enlace con la imagen de la red social -->
                <div class="iconos-redes-sociales-footer">
                    <a href="https://www.facebook.com/GestionSySO/" class="icono-red-social facebook" target="_blank"
                        title="Visítanos en Facebook">
                        <img src="../assets/img/facebook-black.png" alt="Icono de Facebook">
                    </a>
                    <a href="https://twitter.com/Gestion_SySO" class="icono-red-social twitter" target="_blank"
                        title="Visítanos en Twitter">
                        <img src="../assets/img/twitter-black.png" alt="Icono de Twitter">
                    </a>
                    <a href="https://www.instagram.com/gestionsyso/" class="icono-red-social instagram" target="_blank"
                        title="Visítanos en Instagram">
                        <img src="../assets/img/instagram-black.png" alt="Icono de Instagram">
                    </a>
                    <a href="https://www.linkedin.com/company/gestionsyso/" class="icono-red-social linkedin"
                        target="_blank" title="Visítanos en Linkedin">
                        <img src="../assets/img/linkedin-black.png" alt="Icono de Linkedin">
                    </a>
                </div>
            </div>
        </div>

        <div class="copyrigh-footer">
            <h6>Gestión SySO © 2025 - Todos los derechos reservados.</h6>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>