<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Conoce al equipo de profesionales de Gestión SySO, especializados en Higiene y Seguridad en el Trabajo, comprometidos con la prevención de riesgos laborales y la mejora continua de las condiciones laborales.">
    <meta name="keywords"
        content="Gestión SySO, equipo de profesionales, higiene y seguridad, prevención de riesgos laborales, seguridad en el trabajo">
    <title>Gestión SySO - Nosotros</title>
    <link rel="icon" type="image/png" href="../assets/img/helmet.png">

    <!--CSS boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css"><!--enlace con css-->
</head>

<body>

    <header class="fixed-top"><!--encabezado-->
        <!--encabezado desktop-->
        <nav class="navbar desktop-navbar fixed-top">
            <a href="../index.html" title="Gestión SySO">
                <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
            </a>
            <ul class="nav nav-underline justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
                </li><!--enlace relativo (entre páginas dentro del mismo proyecto)-->
                <li class="nav-item">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./noticias.html">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>

        <!--encabezado mobile-->
        <nav class="navbar bg-body-tertiary fixed-top mobile-navbar">
            <div class="container-fluid">
                <a href="../index.html" title="Gestión SySO">
                    <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav nav-underline justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./servicios.html">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./noticias.html">Noticias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main><!--contenido principal de la página-->
        <section class="nosotros">
            <h1>Nosotros</h1>
            <div>
                <p>En Gestión SySO, somos un equipo de profesionales especializados en Higiene y Seguridad en el
                    Trabajo,
                    comprometidos con la prevención de riesgos laborales y la mejora continua de las condiciones de
                    trabajo
                    en empresas de todos los rubros. Con amplia experiencia en el sector y un profundo conocimiento de
                    la
                    normativa legal vigente en Argentina, brindamos asesoramiento integral para garantizar ambientes
                    laborales seguros, saludables y en cumplimiento con las regulaciones nacionales e internacionales.
                    Nuestra consultora se distingue por ofrecer soluciones personalizadas, adaptadas a las necesidades
                    de
                    cada organización, con un enfoque práctico y eficiente. Creemos que la seguridad laboral no solo
                    protege
                    a los trabajadores, sino que también optimiza los procesos productivos y fortalece la competitividad
                    de
                    las empresas.</p>

                <h2>Misión</h2>
                <p>Brindar soluciones integrales en Higiene y Seguridad en el Trabajo, comprometidos con la protección
                    de la
                    salud de los trabajadores, la prevención de riesgos laborales y el cumplimiento de las normativas
                    legales vigentes en Argentina. A través de un enfoque personalizado y profesional, buscamos
                    contribuir
                    al desarrollo de ambientes laborales seguros, eficientes y sostenibles.</p>

                <h2>Visión</h2>
                <p>Ser reconocidos como la consultora líder en Higiene y Seguridad en el Trabajo, destacándonos por
                    nuestra
                    excelencia técnica, innovación y compromiso con la calidad. Aspiramos a generar un impacto positivo
                    en
                    las organizaciones con las que trabajamos, promoviendo una cultura de seguridad laboral en todo el
                    país.
                </p>

                <h2>Objetivo</h2>
                <p>Proporcionar servicios de asesoramiento, capacitación y gestión en Higiene y Seguridad que permitan a
                    las
                    empresas cumplir con las normativas legales, reducir accidentes laborales, optimizar procesos y
                    fomentar
                    un entorno laboral seguro y saludable.</p>

                <h2>Por que elegirnos</h2>
                <ul>
                    <li>Experiencia comprobada: Contamos con un equipo de profesionales altamente capacitados con amplia
                        experiencia en diferentes sectores industriales y comerciales.</li>
                    <li>Cumplimiento normativo: Nos aseguramos de que tu empresa cumpla con todas las disposiciones
                        legales
                        vigentes, evitando sanciones y garantizando la tranquilidad de nuestros clientes.</li>
                    <li>Soluciones personalizadas: Diseñamos estrategias y programas adaptados a las necesidades
                        específicas
                        de cada cliente, asegurando resultados efectivos y medibles.</li>
                    <li>Compromiso con la calidad: Trabajamos bajo altos estándares de calidad, priorizando la
                        satisfacción
                        de nuestros clientes y la seguridad de los trabajadores.</li>
                    <li>Innovación constante: Utilizamos herramientas y metodologías actualizadas para ofrecer
                        soluciones
                        prácticas, eficientes y sostenibles.</li>
                </ul>

                <p>En Gestión SySO, creemos que la seguridad no es un gasto, sino una inversión en el bienestar y éxito
                    de
                    tu organización.</p>
            </div>
        </section>
        <div class="sticky-whatsapp">
            <a href="https://wa.me/5491159969956" target="_blank" class="btn-whatsapp" aria-label="Enviar WhatsApp">
                <img src="../assets/img/whatsapp-logo.png" alt="WhatsApp">
            </a>
        </div>
    </main>

    <footer><!--pie de página-->
        <div class="contenedor-de-footer">
            <div class="logo-footer">
                <a href="../index.html" title="Gestión SySO">
                    <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
                </a>
            </div>

            <div class="contacto-footer">
                <h4>Contacto</h4>
                <!-- Enlace con la imagen al contacto -->
                <div class="contenedor-contacto">
                    <div class="whatsapp-footer">
                        <a href="https://api.whatsapp.com/send?phone=541159969956" class="icono-contacto whatsapp"
                            target="_blank" title="Enviar Whatsapp">
                            <img src="../assets/img/whatsapp-black.png" alt="Icono de Whatsapp">
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=541159969956">1159969956</a>
                    </div>

                    <div class="cooreo-footer">
                        <a href="mailto:info@gestionsyso.com" class="icono-contacto correo" target="_blank"
                            title="Enviar correo electrónico">
                            <img src="../assets/img/mail-black.png" alt="Icono de correo electrónico">
                        </a>
                        <a href="mailto:info@gestionsyso.com">info@gestionsyso.com</a>
                    </div>
                </div>
            </div>

            <div class="redes-sociales-footer">
                <h4>Visítanos en nuestras redes sociales</h4>
                <!-- Enlace con la imagen de la red social -->
                <div class="iconos-redes-sociales-footer">
                    <a href="https://www.facebook.com/GestionSySO/" class="icono-red-social facebook" target="_blank"
                        title="Visítanos en Facebook">
                        <img src="../assets/img/facebook-black.png" alt="Icono de Facebook">
                    </a>
                    <a href="https://twitter.com/Gestion_SySO" class="icono-red-social twitter" target="_blank"
                        title="Visítanos en Twitter">
                        <img src="../assets/img/twitter-black.png" alt="Icono de Twitter">
                    </a>
                    <a href="https://www.instagram.com/gestionsyso/" class="icono-red-social instagram" target="_blank"
                        title="Visítanos en Instagram">
                        <img src="../assets/img/instagram-black.png" alt="Icono de Instagram">
                    </a>
                    <a href="https://www.linkedin.com/company/gestionsyso/" class="icono-red-social linkedin"
                        target="_blank" title="Visítanos en Linkedin">
                        <img src="../assets/img/linkedin-black.png" alt="Icono de Linkedin">
                    </a>
                </div>
            </div>
        </div>

        <div class="copyrigh-footer">
            <h6>Gestión SySO © 2025 - Todos los derechos reservados.</h6>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>