<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Descubre los servicios de Gestión SySO, incluyendo gestión en seguridad y salud ocupacional, estudios de carga de fuego, planes de autoprotección, mediciones ambientales, programas de seguridad, capacitaciones, ergonomía.">
  <meta name="keywords"
    content="Gestión SySO, servicios de seguridad laboral, gestión en salud ocupacional, estudios de carga de fuego, planes de autoprotección, mediciones ambientales, programas de seguridad, capacitaciones en seguridad, ergonomía">
  <title>Gestión SySO - Servicios</title>
  <link rel="icon" type="image/png" href="../assets/img/helmet.png">

  <!--CSS boostrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="../css/style.css"><!--enlace con css-->

  <!--AOS-->


  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

  <header class="fixed-top">

    <!--encabezado desktop-->
    <nav class="navbar desktop-navbar fixed-top">
      <a href="../index.html" title="Gestión SySO">
        <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
      </a>
      <ul class="nav nav-underline justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./nosotros.html">Nosotros</a>
        </li><!--enlace relativo (entre páginas dentro del mismo proyecto)-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./noticias.html">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contacto.html">Contacto</a>
        </li>
      </ul>
    </nav>

    <!--encabezado mobile-->
    <nav class="navbar bg-body-tertiary fixed-top mobile-navbar">
      <div class="container-fluid">
        <a href="../index.html" title="Gestión SySO">
          <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav nav-underline justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./noticias.html">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main><!--contenido principal de la página-->

    <section class="servicios">
      <h1>Servicios</h1>

      <div class="card mb-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center align-items-center p-3">
            <img src="../assets/img/gears-1.png" class="img-fluid rounded-start mx-auto d-block"
              alt="Gestión de Seguridad y Salud Ocupacional">
          </div>
          <div class="col-md-10 p-3">
            <div class="card-body">
              <h2 class="card-title">Gestión de Seguridad y Salud Ocupacional</h2>
              <p class="card-text">Desarrollamos sistemas de gestión en Seguridad y Salud Ocupacional basados en la Ley
                19.587 de Higiene y Seguridad en el Trabajo y su Decreto Reglamentario 351/79, así como en estándares
                internacionales como la Norma ISO 45001. Nuestro enfoque incluye la identificación de riesgos, la
                implementación de medidas preventivas y el monitoreo continuo para garantizar un ambiente laboral seguro
                y en cumplimiento con las normativas nacionales y provinciales vigentes.</p>
              <a href="./contacto.html" class="btn btn-primary">¡Haznos tu consulta!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center align-items-center p-2">
            <img src="../assets/img/fire_1.png" class="img-fluid rounded-start mx-auto d-block"
              alt="Estudio de Carga de Fuego / Informe antisiniestral">
          </div>
          <div class="col-md-10 p-2">
            <div class="card-body">
              <h2 class="card-title">Estudio de Carga de Fuego / Informe antisiniestral</h2>
              <p class="card-text">Realizamos estudios de carga de fuego conforme al Decreto 351/79 y a las exigencias
                de la Superintendencia de Bomberos, analizando el riesgo de incendio y su impacto en las instalaciones.
                Además, elaboramos informes antisiniestrales que incluyen medidas correctivas y recomendaciones
                específicas para minimizar riesgos, cumpliendo con la Ley 19.587 y los requisitos locales en materia de
                seguridad contra incendios.</p>
              <a href="./contacto.html" class="btn btn-primary">¡Haznos tu consulta!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center align-items-center p-2">
            <img src="../assets/img/exit-1_1.png" class="img-fluid rounded-start mx-auto d-block"
              alt="Planes de autoprotección">
          </div>
          <div class="col-md-10 p-2">
            <div class="card-body">
              <h2 class="card-title">Planes de autoprotección</h2>
              <p class="card-text">Desarrollamos planes de autoprotección en cumplimiento con la Ley 5920 de la Ciudad
                Autónoma de Buenos Aires y sus normativas reglamentarias. Estos planes están diseñados para prevenir,
                gestionar y mitigar emergencias en establecimientos, contemplando la elaboración de protocolos de
                evacuación, simulacros periódicos y capacitaciones específicas. Nuestro enfoque garantiza la seguridad
                de las personas y el cumplimiento con los requisitos exigidos por las autoridades locales.</p>
              <a href="./contacto.html" class="btn btn-primary">¡Haznos tu consulta!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center align-items-center p-2">
            <img src="../assets/img/speedometer-1.png" class="img-fluid rounded-start mx-auto d-block"
              alt="Estudios y Mediciones">
          </div>
          <div class="col-md-10 p-2">
            <div class="card-body">
              <h2 class="card-title">Estudios y Mediciones</h2>
              <p class="card-text">Realizamos estudios y mediciones ambientales, como ruido, iluminación, vibraciones y
                agentes químicos, cumpliendo con el Decreto 351/79, Resolución 295/03 de la SRT y otras disposiciones
                regulatorias. Nuestros servicios permiten evaluar condiciones laborales, identificar riesgos y proponer
                medidas correctivas, asegurando ambientes de trabajo saludables y en línea con la normativa vigente.</p>
              <a href="./contacto.html" class="btn btn-primary">¡Haznos tu consulta!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center align-items-center p-2">
            <img src="../assets/img/helmet-1.png" class="img-fluid rounded-start mx-auto d-block"
              alt="Programas de seguridad">
          </div>
          <div class="col-md-10 p-2">
            <div class="card-body">
              <h2 class="card-title">Programas de seguridad</h2>
              <p class="card-text">Diseñamos e implementamos programas de seguridad en cumplimiento con el Decreto
                911/96 para actividades de la construcción, la Resolución 35/98 y Resolución 51/97 para seguridad en
                tareas específicas, y la Resolución 319/99 que regula aspectos clave de la higiene y seguridad. Nuestros
                programas incluyen políticas, procedimientos y prácticas seguras adaptadas a cada sector de actividad,
                con el objetivo de prevenir accidentes laborales, minimizar riesgos y garantizar el cumplimiento de las
                normativas de la Superintendencia de Riesgos del Trabajo (SRT) y demás disposiciones legales vigentes.
              </p>
              <a href="./contacto.html" class="btn btn-primary">¡Haznos tu consulta!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center align-items-center p-2">
            <img src="../assets/img/teaching.png" class="img-fluid rounded-start mx-auto d-block"
              alt="Capacitación y entrenamiento">
          </div>
          <div class="col-md-10 p-2">
            <div class="card-body">
              <h2 class="card-title">Capacitación y entrenamiento</h2>
              <p class="card-text">Ofrecemos capacitaciones y entrenamientos obligatorios en Seguridad y Salud
                Ocupacional, conforme a lo establecido en la Resolución 905/15 de la SRT y el Decreto 351/79. Nuestras
                capacitaciones incluyen temas como trabajo seguro en altura, manipulación de cargas y uso de equipos de
                protección personal, promoviendo una cultura de seguridad y el cumplimiento legal.</p>
              <a href="./contacto.html" class="btn btn-primary">¡Haznos tu consulta!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="row g-0">
          <div class="col-md-2 d-flex justify-content-center align-items-center p-2">
            <img src="../assets/img/conveyor_1.png" class="img-fluid rounded-start mx-auto d-block" alt="Ergonomía">
          </div>
          <div class="col-md-10 p-2">
            <div class="card-body">
              <h2 class="card-title">Ergonomía</h2>
              <p class="card-text">Realizamos evaluaciones ergonómicas de acuerdo con la Resolución 295/03 de la SRT y
                otras normativas vigentes. Analizamos las condiciones del puesto de trabajo para identificar factores de
                riesgo ergonómicos y proponemos soluciones prácticas que reducen lesiones musculoesqueléticas, mejoran
                la productividad y aseguran el cumplimiento de la legislación en materia de salud laboral.</p>
              <a href="./contacto.html" class="btn btn-primary">¡Haznos tu consulta!</a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <div class="sticky-whatsapp">
      <a href="https://wa.me/5491159969956" target="_blank" class="btn-whatsapp" aria-label="Enviar WhatsApp">
        <img src="../assets/img/whatsapp-logo.png" alt="WhatsApp">
      </a>
    </div>
  </main>

  <footer><!--pie de página-->
    <div class="contenedor-de-footer">
      <div class="logo-footer">
        <a href="../index.html" title="Gestión SySO">
          <img src="../assets/img/Logopit_1546119869136.png" alt="Logotipo de Gestión SySO">
        </a>
      </div>

      <div class="contacto-footer">
        <h4>Contacto</h4>
        <!-- Enlace con la imagen al contacto -->
        <div class="contenedor-contacto">
          <div class="whatsapp-footer">
            <a href="https://api.whatsapp.com/send?phone=541159969956" class="icono-contacto whatsapp" target="_blank"
              title="Enviar Whatsapp">
              <img src="../assets/img/whatsapp-black.png" alt="Icono de Whatsapp">
            </a>
            <a href="https://api.whatsapp.com/send?phone=541159969956">1159969956</a>
          </div>

          <div class="cooreo-footer">
            <a href="mailto:info@gestionsyso.com" class="icono-contacto correo" target="_blank"
              title="Enviar correo electrónico">
              <img src="../assets/img/mail-black.png" alt="Icono de correo electrónico">
            </a>
            <a href="mailto:info@gestionsyso.com">info@gestionsyso.com</a>
          </div>
        </div>
      </div>

      <div class="redes-sociales-footer">
        <h4>Visítanos en nuestras redes sociales</h4>
        <!-- Enlace con la imagen de la red social -->
        <div class="iconos-redes-sociales-footer">
          <a href="https://www.facebook.com/GestionSySO/" class="icono-red-social facebook" target="_blank"
            title="Visítanos en Facebook">
            <img src="../assets/img/facebook-black.png" alt="Icono de Facebook">
          </a>
          <a href="https://twitter.com/Gestion_SySO" class="icono-red-social twitter" target="_blank"
            title="Visítanos en Twitter">
            <img src="../assets/img/twitter-black.png" alt="Icono de Twitter">
          </a>
          <a href="https://www.instagram.com/gestionsyso/" class="icono-red-social instagram" target="_blank"
            title="Visítanos en Instagram">
            <img src="../assets/img/instagram-black.png" alt="Icono de Instagram">
          </a>
          <a href="https://www.linkedin.com/company/gestionsyso/" class="icono-red-social linkedin" target="_blank"
            title="Visítanos en Linkedin">
            <img src="../assets/img/linkedin-black.png" alt="Icono de Linkedin">
          </a>
        </div>
      </div>
    </div>

    <div class="copyrigh-footer">
      <h6>Gestión SySO © 2025 - Todos los derechos reservados.</h6>
    </div>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- AOS Script -->

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>

</body>

</html>